<h1>Dr. med. Joachim Gottberg</h1>

<p class="description">Dr. Gottberg ist Arzt für Allgemeinmedizin und ist seit 1988 in der Praxis an der Feldstraße niedergelassen.</p>
<div>
<img class="gottberg-image" ngSrc="../../../assets/JoachimGottberg.jpg" width="200" height="267" alt="Dr. Gottberg" priority>
</div>

<ul>
    <li>1978 Abschluss des Studiums der Humanmedizin in Hamburg, Staatsexamen und Approbation als Arzt</li>
    <li>Erste medizinische Weiterbildung in den Fächern Urologie, Rechtsmedizin sowie im Sanitätsdienst der Bundeswehr</li>
    <li>Fachausbildung der Inneren Medizin in den Krankenhäusern Elim und Alten Eichen</li>
    <li>Chirurgische Weiterbildung in der Praxis eines niedergelassenen Arztes für Chirurgie</li>
    <li>1987 Facharztanerkennung als Arzt für Allgemeinmedizin</li>
    <li>Weitere Zusatzausbildungen: Fachkundenachweise in Suchtmedizin und Tauchmedizin, Mitglied im Kompetenznetz Hepatitis</li>
    <li>Die Praxis ist <a href="http://www.uke.uni-hamburg.de/institute/allgemeinmedizin/lehre_fortbildung/Lehrpraxen_zentral.de.html" target="_blank">akademische Lehrpraxis der Universität Hamburg</a> für das Blockpraktikum Allgemeinmedizin</li>
    <li>Mitglied der <a href="http://www.aerztekammer-hamburg.de" target="_blank">Ärztekammer Hamburg</a> sowie der <a href="http://www.kvhh.de/index.html" target="_blank">Kassenärztlichen Vereinigung Hamburg</a></li>
</ul>

<go-footer></go-footer>