<h1>Haftung, Datenschutz, Nutzung und Copyright</h1>


<h2>Haftungshinweise</h2>
<p>
    Erklärung im Sinne des Urteils des Landgerichts Hamburg vom 12. Mai 1998:<br />
    Ich habe auf den Seiten meiner Homepage Links zu Seiten anderer Anbieter gesetzt. Ich erkläre hiermit ausdrücklich, dass ich keinerlei Einfluss auf die Gestaltung und die Inhalte der gelinkten Seiten habe.<br />
    Für deren Inhalt sind ausschließlich deren Betreiber verantwortlich. Ich übernehme daher keinerlei Haftung für jedwede Aussage, die auf diesen Seiten getroffen werden und distanziere mich hiermit ausdrücklich von allen Inhalten aller gelinkten Seiten und mache mir diese Inhalte nicht zu Eigen.<br />
    Diese Erklärung gilt für alle auf meiner Internetpräsenz angebrachten Links und für alle Inhalte der Seiten, zu denen die bei mir ggf. angebrachten Links und Banner führen.<br />
    Unter keinen Umständen hafte ich für Schäden, Beeinträchtigungen oder Verluste, die im Zusammenhang mit der Nutzung meines Dienstes, z.B. aus technischen Gründen, entstehen.</p>
    
    
    <h2>Datenschutz</h2>
    
    <p>
    Bei jedem Zugriff eines Nutzers auf diese Seite und bei jedem Abruf einer Datei werden Daten über diesen Vorgang in einer Protokolldatei gespeichert.<br />
    <br />
    Im einzelnen wird über jeden Abruf folgender Datensatz gespeichert:<br />
    <li> Name der abgerufenen Datei,<br />
    <li>Datum und Uhrzeit des Abrufs,<br />
    <li>übertragene Datenmenge,<br />
    <li>Meldung, ob der Abruf erfolgreich war.<br />
    <br />
    Die gespeicherten Daten werden nur zu statistischen Zwecken vom Webseitenbetreiber ausgewertet. Eine Weitergabe an Dritte findet nicht statt.<br />
    <br />
    Darüber hinaus wird vorläufig aus technischen Gründen auch die IP -Adresse gespeichert; eine nutzerbezogene Auswertung findet nicht statt.<br />
    <br />
    Beim Aufruf einzelner Seiten werden so genannte temporäre Cookies verwendet, um die Navigation zu erleichtern. Diese Session Cookies verfallen nach Ablauf der Sitzung und beinhalten keine personenbezogenen Daten, d.h. die Inhalte der Cookies werden nicht nutzerbezogen ausgewertet.<br />
    <br />
    Wenn Sie uns eine E-Mail senden, so wird diese und Ihre E-Mail-Adresse ausschließlich für die Korrespondenz mit Ihnen verwendet.</p>
    
    
    <h2>Nutzungsbedingungen</h2>
    
    <p>
    Meine Homepage erteilt Ihnen ausschließlich allgemeine Auskünfte und Informationen zu meiner Praxis und meinen Leistungsangeboten.<br />
    Von mir bereitgestellte Informationen können auf keinen Fall als ein Hinweis auf das Vorliegen oder Nicht-Vorliegen einer bestimmten Krankheit oder eines anderen Leidens verstanden werden. Ebenso wenig dürfen die Informationen oder erteilte Auskünfte als Aufforderung zu einer bestimmten Behandlung oder Nicht-Behandlung einer möglichen Krankheit verstanden werden.<br />
    Telefonisch, per email oder per Internet erteilte Auskünfte und Informationen ersetzen niemals die Untersuchung oder die Behandlung durch einen Arzt oder einen Psychotherapeuten. Von mir bereitgestellt Informationen können lediglich eine generelle und unverbindliche Unterstützung für Sie sein.<br />
    Die Erkennung oder Behandlung einer Krankheit oder eines anderen Leidens kann allein durch die Konsultation eines Arztes oder ggf. eines Psychotherapeuten erfolgen.</p>
    
    
    
    
    <p id="e127">
    </p>
    
    
    <h2>Copyright</h2>
    
    <p>
    Die Inhalte meines Internetauftrittes sind urheberrechtlich geschützt. Sie dürfen nur zu privaten Zwecken genutzt werden.<br />
    &#169; Copyright 2007. Alle Rechte vorbehalten.</p>