<h1>Untersuchungs- und Behandlungsmethoden</h1>

<p class="description">Diese ärztlichen Leistungen können in meiner Praxis ausgeführt werden:</p>

<ul>
    <li>Hausärztliche Versorgung einschließlich Laboruntersuchungen</li>
    <li>Gesundheitsuntersuchung ("Body Check") bei Männern und Frauen ab 36 Jahren, incl.
      Blutuntersuchung, Urinuntersuchung, Ganzkörperuntersuchung, Blutdruckmessung</li>
    <li>Hepatitis-C-Fachtherapie</li>
    <li>Impfungen</li>
    <li>Reisemedizinische Beratung und Impfberatung (kostenpflichtig)</li>
    <li>Krebsfrüherkennungsuntersuchung bei Männern</li>
    <li>Substitutionsbehandlung bei Drogenabhängigkeit</li>
    <li>Feststellungsanträge nach dem Schwerbehindertengesetz</li>
    <li>Anträge auf Kuren</li>
    <li>Ärztliche Untersuchung bei Rentenaträgen</li>
    <li>Anträge auf Leistungen zur Rehabilitation</li>
    <li>Ärztliche Untersuchung für die Aufnahme in eine private Krankenkasse</li>
    <li>Untersuchungen vor Operationen (ohne Röntgen)</li>
    <li>Ärztliche Befundberichte</li>
    <li>Untersuchungen nach dem Jugendarbeitsschutzgesetz (der Berechtigungsbogen muss vom Ortsamt
      mitgebracht werden)</li>
    <li>Ärztliche Untersuchung von Bewerbern um eine Fahrerlaubnis (Formulare bitte mitbringen, die
      Untersuchung ist kostenpflichtig)</li>
  </ul>