<h1>Entzugskliniken</h1>

<p class="description">Hier finden Sie eine Auswahl an Adressen von Entzugskliniken im Raum Norddeutschland.</p>

<mat-table id="table-rehab" [dataSource]="dataSource" class="mat-elevation-z8">
<!--class="mat-elevation-z8"-->
    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Entzugsklinik </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>
    
      <!-- Adresse Column -->
      <ng-container matColumnDef="adresse">
        <mat-header-cell *matHeaderCellDef> Adresse </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.adresse}} </mat-cell>
      </ng-container>
    
      <!-- Telefon Column -->
      <ng-container matColumnDef="telefon">
        <mat-header-cell *matHeaderCellDef> Telefon </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.telefon}} </mat-cell>
      </ng-container>
    
      <mat-header-row id="table-rehab-head" *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row id="table-rehab-row" *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>

<go-footer></go-footer>