.mat-grid-list {
    height: 1vh;
}

.header {
border: 1px solid black;
}

.sidenav {
    border: 1px solid black;
}

.content {
    border: 1px solid black;
}

.footer {
    border: 1px solid black;
}