.mat-grid-list {
    height: 1vh;
}

.header {
border: 10px solid black;
}

.sidenav {
    border: 10px solid black;
}

.content {
    border: 10px solid black;
}

.footer {
    border: 10px solid black;
}