mat-toolbar {
    background-color: #004a9f;
    color: white;
}

mat-sidenav {
    margin-top: 16px;
    width: 200px;
    border-right: none;
    
    color: darkgray;
    border-radius: 10px;
    text-align: center;
}

.content {  
    min-width: 611px;
    margin: 16px;
    margin-left: 32px;
    padding-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1rem;
    color: grey;

    border-radius: 10px;
}

mat-sidenav-container {
    height: calc(100vh - 65px);
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    color: black;
    font-size: 1rem;

    user-select: none;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;

    display: flex;
    align-items: center;
    flex-direction: row;
    flex: 1;

    background-color: transparent;
    cursor: pointer;
    border: none;
}

.menu-item:hover {
  background-color: rgb(208, 208, 208);
}

.menu-item:active {
  background-color: rgb(170, 170, 170);
}


