<h1>Impressum</h1>

<p class="description">Anbieter / Gesamtverantwortung (TDG) / Inhaltliche Verantwortung (MDStV):</p>

<p>
    Arzt für Allgemeinmedizin<br />
    Feldstraße 44<br />
    20357 Hamburg<br />
    Tel.: 040 43 45 38<br />
    Fax: 040 43 29 02 29<br />
    E-Mail: <a href="mailto:drgottberg@gmx.de">drgottberg&#64;gmx.de</a></p>

    <p>
        <b>Zuständige Aufsichtsbehörde:</b><br />
        Kassenärztliche Vereinigung Hamburg<br />
        Körperschaft öffentlichen Rechts<br />
        Humboldtstraße 56<br />
        22083 Hamburg<br />
        <a href="http://www.kvhh.de" target="_blank">www.kvhh.de</a><br />
        <br />
        <b>Zuständige Kammer:</b><br />
        Ärztekammer Hamburg<br />
        Körperschaft öffentlichen Rechts<br />
        Humboldtstraße 56<br />
        22083 Hamburg<br />
        <a href="http://www.aerztekammer-hamburg.de" target="_blank">www.aerztekammer-hamburg.de</a><br />
        <br />
        <b>Berufsbezeichnung für Dr. med Joachim Gottberg:</b><br />
        Arzt, verliehen in der Bundesrepublik Deutschland</p>

        <p>Berufsrechtliche Regelungen (.pdf):</p>

        <p>Verwandte Dokumente und Links:</p>

       <!-- <table border="0" cellpadding="0">
            <tr>
             <td colspan="2"><br><b><font color="#999999">Verwandte Dokumente und Links:</font></b></td>
            </tr>
              <tr>
              <td align="left" valign="top" width="13">
                    <img src="../common/linkExternal.gif" height="14" width="10" border="0" alt="Link ins Internet"></td>
                 <td valign="top" width="*"><a href="http://www.aerztekammer-hamburg.de/berufsrecht/Berufsordnung.pdf">Berufsordnung der Hamburger Ärzte und Ärztinnen (PDF)</a>
                    </td>
              </tr>
               <tr>
              <td align="left" valign="top" width="13">
                    <img src="../common/linkExternal.gif" height="14" width="10" border="0" alt="Link ins Internet"></td>
                 <td valign="top" width="*"><a href="http://www.aerztekammer-hamburg.de/berufsrecht/heilberufegesetz.pdf">Gesetz über die Berufsgerichtsbarkeit der Heilberufe (PDF)</a>
                    </td>
              </tr>
               <tr>
              <td align="left" valign="top" width="13">
                    <img src="../common/linkExternal.gif" height="14" width="10" border="0" alt="Link ins Internet"></td>
                 <td valign="top" width="*"><a href="http://www.aerztekammer-hamburg.de/berufsrecht/hamburgisches_aerztegesetz.pdf">Hamburgisches Ärztegesetz (PDF)</a>
                    </td>
              </tr>
              </table>-->