<div class="container">

    <mat-toolbar class="toolbar" color="primary">
        <div class="menu-button-top">
            <button *ngIf="isMobile" class="top-button" aria-label="Seiten Navigation" type="button" mat-button (click)="sidenav.toggle()" [ngClass]="{'isMobile': isMobile}">
                <mat-icon mat-icon id="burger">menu</mat-icon>
            </button>
            <button *ngIf="isDesktop" type="button" aria-label="Seiten Navigation" mat-button (click)="sidenav.toggle()" [ngClass]="{'isDesktop': isDesktop}">
                <mat-icon mat-icon id="burger">menu</mat-icon>
            </button>
            <span id="menu-text">Menü</span>
        </div>
        <div class="toolbar-heading">
            <span>Praxis Dr. med. Joachim Gottberg</span>
        </div> 
      </mat-toolbar>

<mat-sidenav-container class="sidenav-container" (backdropClick)="close('backdrop')" [ngClass]="{'isMobile-container': isMobile}">
    <!------MAT DRAWER------> 
  <mat-sidenav  class="side-drawer" [mode]="isDesktop?'push':'over'" [mode]="isMobile?'over':'push'" [opened]="isDesktop" #sidenav >
  
      <img class="sidenav-image mat-elevation-z12" ngSrc="../assets/praxisklein.jpg" width="150" height="226" alt="Praxiseingang" priority>

      <button mat-button class="menu-button"  routerLink="/startseite">
          <span>Startseite</span>
      </button>
      <button mat-button class="menu-button"  routerLink="/gottberg">
          <span>Dr. Gottberg</span>
      </button>
      <button mat-button class="menu-button"  routerLink="/team">
          <span>Das Team</span>
      </button>
      <button mat-button class="menu-button"  routerLink="/schwerpunkte">
          <span>Schwerpunkte</span>
      </button>
      <button mat-button class="menu-button"  routerLink="/anfahrt">
          <span>Anfahrt</span>
      </button>
      <button mat-button class="menu-button"  routerLink="/urlaub">
          <span>Urlaubszeiten</span>
      </button>
      <button mat-button class="menu-button"  routerLink="/notfall">
          <span>Im Notfall</span>
      </button>


      <button class="menu-button" mat-button [matMenuTriggerFor]="belowMenu" aria-label="icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
          <span>Links und Adressen</span>
      </button>
      <mat-menu class="mat-menu" #belowMenu="matMenu" yPosition="below">
          <button mat-button class="menu-button"   routerLink="/reisemedizin">
              <span>Reisemedizin</span>
          </button>
          <button mat-button class="menu-button"  routerLink="/entzug">
              <span>Entzugskliniken</span>
          </button>
          <button mat-button class="menu-button"  routerLink="/sucht">
              <span>Suchtberatung</span>
          </button>
          <button mat-button class="menu-button"  routerLink="/hepatitis">
              <span>Hepatitis</span>
          </button>
      </mat-menu>
  </mat-sidenav>

  <mat-sidenav-content class="content-wrapper mat-elevation-z4" [ngClass]="{'isMobile-wrapper': isMobile}">
     <div class="content ">
        <div [@routeAnimations]="getRouteAnimationData()">
          <router-outlet></router-outlet>
        </div>
          
      </div>
  </mat-sidenav-content>
</mat-sidenav-container>
</div>