#table-times {
  max-width: 670px;
  min-width: 340px;
}

#table-time-head {
  height: 30px;
  font-size: 10px;
}

#table-time-row {
  height: 26px;
  font-size: 9px;
}


.mdc-data-table__cell, .mdc-data-table__header-cell {
    padding: 0;
    text-align: center;
    min-width: none;
    text-justify: auto;
  }




.link-button {
    margin: 5px 10px;
  }